﻿body {
    background-image: url('https://teste.ibid.com.br/Core/images/homologacao.png');
    background-repeat: repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn.btn-success {
    color: #fff;
    background-color: #6cc644;
    border-color: #60b838;
}

    .btn.btn-success:hover {
        background-color: #4CAF50;
    }

