﻿.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.dropdown {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.textbox {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

    .button:hover {
        background-color: #45a049;
    }

.result-box {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.result-box-dia {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
}



.btn.btn-primary.active {
    background-color: #4CAF50; /* Azul Claro */
    color: white; /* Texto Preto */
}

.btn.btn-success {
    color: #fff;
    background-color: #6cc644;
    border-color: #60b838;
}

    .btn.btn-success:hover {
        background-color: #4CAF50;
    }

.bg_usuario {
    background-color: #f2f2f2;
}

.custom-checkbox-list input[type="checkbox"] {
    transform: scale(1.5); /* Aumenta o tamanho do botão de seleção */
}

.custom-checkbox-list label {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 20px; /* Adiciona espaçamento entre os botões e o texto */
}
